extends ./layout.pug

block content
  section
    div.container
      h2.mb-50
        b About
      h4
        b Swift TO is helping community happen
		
      p.pt-30 About here:
      p.ptb-10 More text here.