extends ./layout.pug

block content
  section
    div.container
      h1.mb-50.font-20
        b About
      h2
        b Mission Statement - Swift TO is helping community happen
      p.pt-30.font-20 Swift TO is a non-profit dedicated to being at the forefront of Swift community development in Toronto.
        |  We aim to do this by running events, as well as helping others run and promote their own. 
        |  We consider our processes highly evolutionary and are committed to continuously exploring new ways to build the community.
        |  Our goal is to help Toronto stand out as a one-of-a-kind place full of talented and involved programmers on all platforms.