doctype html
head
  title=title
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset='UTF-8')
  // Font
  link(href='https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700' rel='stylesheet')
  // Stylesheets
  link(href='/plugin-frameworks/bootstrap.css' rel='stylesheet')
  link(href='/fonts/ionicons.css' rel='stylesheet')
  link(href='/common/styles.css' rel='stylesheet')
header
  //- .bg-191
  //-   .container
  //-     .oflow-hidden.color-ash.font-9.text-sm-center.ptb-sm-5
  //-       ul.float-left.float-sm-none.list-a-plr-10.list-a-plr-sm-5.list-a-ptb-15.list-a-ptb-sm-10
  //-         li
  //-           a.pl-0.pl-sm-10(href='#') About
  //-         li
  //-           a(href='#') Advertise
  //-         li
  //-           a(href='#') Submit Press Release
  //-         li
  //-           a(href='#') Contact
  //-       ul.float-right.float-sm-none.list-a-plr-10.list-a-plr-sm-5.list-a-ptb-15.list-a-ptb-sm-5
  //-         li
  //-           a.pl-0.pl-sm-10(href='#')
  //-             i.ion-social-facebook
  //-         li
  //-           a(href='#')
  //-             i.ion-social-twitter
  //-         li
  //-           a(href='#')
  //-             i.ion-social-google
  //-         li
  //-           a(href='#')
  //-             i.ion-social-instagram
  //-         li
  //-           a(href='#')
  //-             i.ion-social-bitcoin
  .container
    a.logo(href='/index.html')
      img(src='/images/swiftTOtall.png' alt='Logo')
    //- a.right-area.src-btn(href='#')
    //-   i.active.src-icn.ion-search
    //-   i.close-icn.ion-close
    //- .src-form
    //-   form
    //-     input(type='text' placeholder='Search here')
    //-     button(type='submit')
    //-       i.ion-search
    //- a.menu-nav-icon(data-menu='#main-menu' href='#')
    //-   i.ion-navicon
    //- ul#main-menu.main-menu
    //-   li
    //-     a(href='02_archive-page.html') NEWS
    //-   li.drop-down
    //-     a(href='03_single-post.html')
    //-       | GUIDES &amp; ANALYTICS
    //-       i.ion-arrow-down-b
    //-     ul.drop-down-menu.drop-down-inner
    //-       li
    //-         a(href='#') PAGE 1
    //-       li
    //-         a(href='#') PAGE 2
    //-   li
    //-     a(href='04_FAQS.html') EVENTS
    //-   li
    //-     a(href='05_FAQS-single.html') EXPLAINED
    //-   li
    //-     a(href='06_contact-us.html') ICON CLAENDER
    .clearfix

block content

footer.bg-191.color-ccc
  .container
    .pt-50.pb-20.pos-relative
      //- .abs-tblr.pt-50.z--1.text-center
      //-   .h-80.pos-relative
      //-     img.opacty-1.h-100.w-auto(src='images/map.png' alt='')
      .row
        .col-sm-4
          .mb-30
            //- a(href='#V')
            //-   img(src='images/logo-white.png')
            p.mtb-20.color-ccc
              | Swift TO is a non-profit dedicated to being at the forefront of Swift community development in Toronto
            p.color-ash
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.ion-heart(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

    .brdr-ash-1.opacty-2
    .oflow-hidden.color-ash.font-9.text-sm-center.ptb-sm-5
      //- ul.float-left.float-sm-none.list-a-plr-10.list-a-plr-sm-5.list-a-ptb-15.list-a-ptb-sm-10
      //-   li
      //-     a.pl-0.pl-sm-10(href='#') Terms &amp; Conditions
      //-   li
      //-     a(href='#') Privacy policy
      //-   li
      //-     a(href='#') Jobs advertising
      //-   li
      //-     a(href='#') Contact us
      ul.float-right.float-sm-none.list-a-plr-10.list-a-plr-sm-5.list-a-ptb-15.list-a-ptb-sm-5
        li
          a(href='https://twitter.com/' + twitter)
            i.ion-social-twitter
    // oflow-hidden
  // container
// SCIPTS
script(src='/plugin-frameworks/jquery-3.2.1.min.js')
script(src='/plugin-frameworks/tether.min.js')
script(src='/plugin-frameworks/bootstrap.js')
script(src='/common/scripts.js')