- const nav = [{title: "Home", url: "/"}, {title: "Blogs", url: "/blogs.html"}, {title: "About", url: "/about.html"}]

doctype html
head
  title=title
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset='UTF-8')
  // Font
  link(href='https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700' rel='stylesheet')
  // Stylesheets
  link(href='/plugin-frameworks/bootstrap.css' rel='stylesheet')
  link(href='/fonts/ionicons.css' rel='stylesheet')
  link(href='/common/styles.css' rel='stylesheet')
header
  .container
    a.logo(href='/index.html')
      img(src='/images/swiftTOtall.png' alt='Logo')
    a.menu-nav-icon(data-menu='#main-menu' href='#')
      i.ion-navicon
    ul#main-menu.main-menu
      each item in nav
        li
          a(href=item.url)=item.title
    .clearfix

block content

footer.bg-191.color-ccc
  .container
    .pt-50.pb-20.pos-relative
      .row
        .col-sm-4
          .mb-30
            p.mtb-20.color-ccc
              | Swift TO is a non-profit dedicated to being at the forefront of Swift community development in Toronto
            p.color-ash
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.ion-heart(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

    .brdr-ash-1.opacty-2
    .oflow-hidden.color-ash.font-9.text-sm-center.ptb-sm-5
      ul.float-left.float-sm-none.list-a-plr-10.list-a-plr-sm-5.list-a-ptb-15.list-a-ptb-sm-10
        each item in nav
          li
            a.pl-0.pl-sm-10(href=item.url)=item.title
      ul.float-right.float-sm-none.list-a-plr-10.list-a-plr-sm-5.list-a-ptb-15.list-a-ptb-sm-5
        li
          a(href='https://twitter.com/' + twitter)
            i.ion-social-twitter

script(src='/plugin-frameworks/jquery-3.2.1.min.js')
script(src='/plugin-frameworks/tether.min.js')
script(src='/plugin-frameworks/bootstrap.js')
script(src='/common/scripts.js')